.formulario__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.formulario__datos{
    grid-row: span 5 / span 5;
    padding: 10px;
    border-radius: 5px;
    background-color: #57b3baad;
    
    
}

.formulario__tabla-container{
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

